<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ROOMLY{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">Главная</a>
            <a href="{{ url_for('about') }}">О нас</a>
            {% if 'user_id' in session %}
                <a href="{{ url_for('profile') }}">Профиль</a>
                <a href="{{ url_for('logout') }}">Выйти</a>
            {% else %}
                <a href="{{ url_for('personal') }}">Войти</a>
                <a href="{{ url_for('register') }}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2025 ROOMLY.
    </footer>
</body>
</html>