<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_prof.css') }}">

</head>
<body>
    <!-- Навигационное меню -->
    <nav>
        <a href="/">Главная</a>
        <a href="/rooms">Комнаты</a>
        <a href="/personal">Личный кабинет</a>
        <a href="/about">О нас</a>
    </nav>

    <!-- Основное содержимое страницы -->
    <div class="profile-container">
        <h1>Профиль</h1>
        <div class="profile-info">
            <h2>Добро пожаловать, {{ username }}!</h2>
            <p class="email">Email: {{ email }}</p>
            <p class="joined-date">Дата регистрации: {{ joined_date }}</p>
            <div class="actions">
                <a href="/edit_profile">Редактировать профиль</a>
                <a href="{{ url_for('logout') }}" class="logout-btn">Выйти</a>
            </div>
        </div>
    </div>

    <!-- Нижняя чёрная полоса -->
    <footer>
        &copy; 2025 ROOMLY.
    </footer>
</body>
</html>