<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_prof.css') }}">

</head>
<body>
    <!-- Навигационное меню -->
    <nav>
        <a href="/">Главная</a>
        <a href="/rooms">Комнаты</a>
        <a href="/personal">Личный кабинет</a>
        <a href="/about">О нас</a>
    </nav>

    <!-- Основное содержимое страницы -->
    <div>
        <h1>Профиль</h1>
        <p>Добро пожаловать, {{ username }}!</p>
        <a href="{{ url_for('logout') }}">Выйти</a>
    </div>

    <!-- Нижняя чёрная полоса -->
    <footer>
        &copy; 2025 ROOMLY.
    </footer>
</body>
</html>
