<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_about.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>О нас</title>
</head>
<body>
    <!-- Навигационное меню -->
    <nav>
        <a href="/">Главная</a>
        <a href="/rooms">Комнаты</a>
        <a href="/profile">Личный кабинет</a>
        <a href="/about">О нас</a>
    </nav>

    <!-- Основное содержимое страницы -->
    <div>
        <h1>О нас</h1>
        <p>Мы — команда ROOMLY, предоставляющая лучшие переговорные комнаты.</p>
    </div>

    <!-- Контейнер для карточек -->
    <div class="cards-container">
        <!-- Карточка 1 -->
        <div class="card">
            <div style="text-align: center;">
                <img src="https://sun9-55.userapi.com/impg/GHb5f9CTev2RMfypMOgCcXde9DggrnMDxJR05A/G109dJsHCAk.jpg?size=1620x2160&quality=95&sign=7af1e43b7a8cfb30ad0076bfbfa15c6d&type=album" width="140" height="auto">
                <span>Горбачев Фёдор</span>
            </div>
            <span class="info"></span>
            <div class="share">
                <a href="https://t.me/fedosik_gm" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://vk.com/id390542922" target="_blank"><i class="fab fa-vk"></i></a>
            </div>
            <button>Team-Leader</button>
        </div>

        <!-- Карточка 2 -->
        <div class="card">
            <div style="text-align: center;">
                <img src="https://i.ibb.co/Qv1jfMjJ/image.png" width="auto" height="140">
                <span>Стальной Иван</span>
            </div>
            <span class="info"></span>
            <div class="share">
                <a href="https://t.me/laflameeeeee" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://vk.com/linktomyvk1" target="_blank"><i class="fab fa-vk"></i></a>
            </div>
            <button>Frontend</button>
        </div>

        <!-- Карточка 3 -->
        <div class="card">
            <div style="text-align: center;">
                <img src="https://i.ibb.co/Xk3WgFCL/image.jpg" width="auto" height="140">
                <span>Сысуев Павел</span>
            </div>
            <span class="info"></span>
            <div class="share">
                <a href="https://t.me/PavelSusyew" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://vk.com/pavel_s_7" target="_blank"><i class="fab fa-vk"></i></a>
            </div>
            <button>AI Developer</button>
        </div>

        <!-- Карточка 4 -->
        <div class="card">
            <div style="text-align: center;">
                <img src="https://i.ibb.co/bR7fyNGb/image.jpg" width="140" height="auto">
                <span>Добров Артем</span>
            </div>
            <span class="info"></span>
            <span class="info"></span>
            <div class="share">
                <a href="https://t.me/artemdobrov" target="_blank"><i class="fab fa-telegram"></i></a>
                <a href="https://vk.com/art.dobrov" target="_blank"><i class="fab fa-vk"></i></a>
            </div>
            <button>Python</button>
        </div>
    </div>

    <!-- Нижняя чёрная полоса -->
    <footer>
        &copy; 2025 ROOMLY.
    </footer>
</body>
</html>